<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(shoppingList)" #shoppingList="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            name="name"
            ngModel
            type="text"
            id="name"
            class="form-control"
            required
          />
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input
            name="amount"
            ngModel
            type="number"
            id="amount"
            class="form-control"
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingList.valid"
          >
            {{editMode ? "Edit" : "Add"}}
          </button>
          <button *ngIf="editMode" (click)="onDelete()" class="btn btn-danger" type="button">Delete</button>
          <button  (click)="onClear()" class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
